Repository Elle624/FitLit-Refactor, pull requests merged in 2020-10, with the labels that each got.

#8 Add accessbility attributes
  src/index.html
Labels: Priority 1, html, refactor

#20 Fix/script
  src/User.js
  src/UserRepository.js
  src/index.html
  src/scripts.js
  test/Hydration-test.js
  test/User-test.js
  test/UserRepository-test.js
Labels: Priority 1, bug fixes, html, js, refactor

#23 Feature/inheritance action
  src/Action.js
  src/Activity.js
  src/Hydration.js
  src/Sleep.js
  src/User.js
  src/UserRepository.js
  test/Action-test.js
  test/Activity-test.js
  test/Hydration-test.js
  test/Sleep-test.js
  test/User-test.js
  test/UserRepository-test.js
Labels: Priority 1, js, refactor, testing

#31 Feature/dom update
  src/domUpdate.js
  src/scripts.js
Labels: Priority 1, enhancement, js, refactor
